.tile {
    display: inline-flex;
    background-color: #42b842;
}

.tree {
    background-image: url('/tiles/tree.png');
}

.book {
    background-image: url('/tiles/book.png');
}

.grass {

}

.mixed {

}

.castleFloor {
    background-image: url('/tiles/castleFloor.png');
}

.wall {
    background-image: url('/tiles/castle-tower-wall.png');
}

.bridge {
    background-image: url('/tiles/bridge.png');
}

.river1 {
    background-image: url('/tiles/river1.png');
}

.river2 {
    background-image: url('/tiles/river2.png');
}

.throne {
    background-image: url('/tiles/throne.png');
}

.door {
    background-image: url('/tiles/door.png');
}

.knight1 {
    background-image: url('/tiles/knight-1.png');
}

.knight2 {
    background-image: url('/tiles/knight-2.png');
}

.knight3 {
    background-image: url('/tiles/knight-3.png');
}

.knight4 {
    background-image: url('/tiles/knight-4.png');
}

.castleTopLeft {
    background-image: url('/tiles/castle-large_01.png')
}

.castleTopCenter {
    background-image: url('/tiles/castle-large_02.png')
}

.castleTopRight {
    background-image: url('/tiles/castle-large_03.png')
}

.castleBottomLeft {
    background-image: url('/tiles/castle-large_04.png')
}

.castleBottomCenter {
    background-image: url('/tiles/castle-large_05.png')
}

.castleBottomRight {
    background-image: url('/tiles/castle-large_06.png')
}

.flowersLeft {
    background-image: url('/tiles/FlowersLeft.png')
}

.flowersRight {
    background-image: url('/tiles/FlowersRight.png')
}

.pondLeft {
    background-image: url('/tiles/PondLeft.png')
}

.pondCenter {
    background-image: url('/tiles/PondCenter.png')
}

.pondRight {
    background-image: url('/tiles/PondRight.png')
}

.gateCenter {
    background-image: url('/tiles/GateCenter.png')
}

.gateLeft {
    background-image: url('/tiles/GateLeft.png')
}

.gateRight {
    background-image: url('/tiles/GateRight.png')
}

.rock {
    background-image: url('/tiles/rock.png');
}

.rockSnow {
    background-image: url('/tiles/rock-snow.png');
}

.treeSnow {
    background-image: url('/tiles/tree-snow.png');
}

.blueArmor {
    background-image: url('/tiles/blue-armor.png');
}

.iceLeft {
    background-image: url('/tiles/ice-left.png');
}

.iceRight {
    background-image: url('/tiles/ice-right.png');
}

.chest {
    background-image: url('/tiles/chest.png');
}

.castle {
    background-image: url('/tiles/castle.png');
}

.path {

}